mysite/db.sqlite3
mysite/manage.py
mysite/myapp/__init__.py
mysite/myapp/admin.py
mysite/myapp/apps.py
mysite/myapp/includeurls.py
mysite/myapp/models.py
mysite/myapp/tests.py
mysite/myapp/views.py
mysite/myapp/__pycache__/__init__.cpython-310.pyc
mysite/myapp/__pycache__/includeurls.cpython-310.pyc
mysite/myapp/__pycache__/views.cpython-310.pyc
mysite/myapp/migrations/__init__.py
mysite/mysite/__init__.py
mysite/mysite/asgi.py
mysite/mysite/settings.py
mysite/mysite/urls.py
mysite/mysite/wsgi.py
mysite/mysite/__pycache__/__init__.cpython-310.pyc
mysite/mysite/__pycache__/settings.cpython-310.pyc
mysite/mysite/__pycache__/urls.cpython-310.pyc
mysite/mysite/__pycache__/wsgi.cpython-310.pyc
