{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://use.fontawesome.com/448c40b705.js"></script>
    <link rel="stylesheet" href="{% static 'D:\VSCode_Django\myproject\templates\style\menu_style.css' %} ">
</head>
<body>
    
<div class="container">
    <nav>
            <ul class="mcd-menu">
                <li>
                    <a href="{% url 'index'%}">
                        <i class="fa fa-home"></i>
                        <strong>Home</strong>
                        <small>sweet home</small>
                    </a>
                </li>
                <li>
                    <a href="" class="active">
                        <i class='fa fa-edit'></i>
                        <strong>About us</strong>
                        <small>sweet home</small>
                    </a>
                </li>
                <li>
                    <a href="{% url 'form-view' %}">
                        <i class="fa fa-gift"></i>
                        <strong>Features</strong>
                        <small>sweet home</small>
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="fa fa-globe"></i>
                        <strong>News</strong>
                        <small>sweet home</small>
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="fa fa-comments-o"></i>
                        <strong>Blog</strong>
                        <small>what they say</small>
                    </a>
                    <ul>
                        <li><a href="#"><i class="fa fa-globe"></i>Mission</a></li>
                        <li>
                            <a href="#"><i class="fa fa-group"></i>Our Team</a>
                            <ul>
                                <li><a href="#"><i class="fa fa-female"></i>Leyla Sparks</a></li>
                                <li>
                                    <a href="#"><i class="fa fa-male"></i>Gleb Ismailov</a>
                                    <ul>
                                        <li><a href="#"><i class="fa fa-leaf"></i>About</a></li>
                                        <li><a href="#"><i class="fa fa-tasks"></i>Skills</a></li>
                                    </ul>
                                </li>
                                <li><a href="#"><i class="fa fa-female"></i>Viktoria Gibbers</a></li>
                            </ul>
                        </li>
                        <li><a href="#"><i class="fa fa-trophy"></i>Rewards</a></li>
                        <li><a href="#"><i class="fa fa-certificate"></i>Certificates</a></li>
                    </ul>
                </li>
                <li>
                    <a href="{% url 'create' %}">
                        <i class="fa fa-picture-o"></i>
                        <strong>Create blog</strong>
                        <small>Tell me about...</small>
                    </a>
                </li>
                <li>
                    <a href="{% url 'register'%}">
                        <i class="fa fa-envelope-o"></i>
                        <strong>Register</strong>
                        <small>Lets start!</small>
                    </a>
                </li>
                <li>
                    <a href="{% url 'login' %}">
                        <i class="fa fa-envelope-o"></i>
                        <strong>Login</strong>
                        <small>Who you are?</small>
                    </a>
                </li>
                <li class="float">
                    <a class="search">
                        <input type="text" value="search">
                        <button><i class="fa fa-search"></i></button>
                    </a>
                    <a href="" class="search-mobile">
                        <i class="fa fa-search"></i>
                    </a>
                </li>
            </ul>
        </nav>
    </div>






</body>
</html>